
    <div class="gift-list">
        {% for gift in gifts %}

            {% if gift.gift_visible_for_receiver is True %}
                <div
                        class="gift"
                        data-gift-for="{{ gift.created_for }}"
                >
                    <div class="gift-owner-name">
                        {% if gift.received %}
                            <i class="fas fa-check-circle"></i>
                        {% else %}
                            <i class=""></i>
{#                             <i class="far fa-circle"></i>#}
                        {% endif %}
                    </div>
                    <div class="gift-title" style="text-align: center">
                        <a style="color: black" href="{% url 'giftsharingapp:edit-my-gift' pk=gift.id %}">{{ gift.name|title }}</a>
                    </div>
                    <div class="gift-status">
                        {{ gift.active_til }}
                    </div>
                    <i class="gift-bgr fas fa-gift"></i>
                </div>


            {% else %}
                <div class="gift">
                    <div class="gift-owner-name">
                        {{ gift.owner.first_name|title }} wants
                    </div>
                    <div class="gift-title">
                        <a style="color: black" href="{% url 'giftsharingapp:fill-gift' pk=gift.id %}">{{ gift.name|title }}</a>
                    </div>
                    <div class="gift-status">
                        {% if gift.taken %}
                            <td>Taken by {% if gift.taken_by == user %} YOU {% else %} <span class="text-capitalize">{{ gift.taken_by.first_name }}</span> {% endif %} </td>
                        {% else %}
                            <td><a href="{% url 'giftsharingapp:fill-gift' pk=gift.id %}">View and claim it!</a></td>
                        {% endif %}
                    </div>
                    <i class="gift-bgr fas fa-gift"></i>
                </div>
            {% endif %}
        {% endfor %}
    </div>