{% autoescape off %}

    {% if sent_to_user %}

        Hi there,

        {{ sent_by_user.first_name|title }} ({{ sent_by_user.email }}) is inviting you to join {{ group.name }} group on Smart Santa.
        Log in to respond and see who else is in the group, what is on their wishlist and share your gift wishes!

        http://{{ domain }}

        Happy Holidays!

    {% else %}
        Hi there,

        {{ sent_by_user.first_name|title }} is inviting you to join Smart Santa and become a member of {{ group.name }} group.
        Smart Santa is the app that helps you make meaningful gifts for people you love. When you join,
        you will be able to see {{ sent_by_user.first_name|title }}'s wishlist and share your gift wishes!

        To join, follow this link:

        http://{{ domain }}{% url 'accept_invite' token %}

        Happy Holidays!

    {% endif %}

{% endautoescape %}