{% extends "base_generic.html" %}
{% load static %}

{% block content %}
    {% if group %}
        <h4 style="margin:15px auto; text-align: center">Invite a friend to {{ group.name|upper }}</h4>
    {% else %}
        <h4 style="margin:15px auto; text-align: center">Invite a friend to join</h4>
    {% endif %}
    <form class="central-position" style="max-width:500px; margin:auto" action="" method="post">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
{#        <input type="hidden" name="group_id" value="{{ request.GET.group_id }}" />#}
        <input style="margin: 20px 0" class="btn btn-primary" type="submit" value="Submit">
    </form>
{% endblock %}