{% extends "base_generic.html" %}


{% block content %}
    <div style="margin: 30px 0">
        <div>{{ gift.owner|title }} requested</div>
        <h4>{{ gift.name }}</h4>
        <p>{{ gift.description }}</p>
        <div >
            <div>
                <i style="font-size: 2em" data-toggle="tooltip" data-placement="top" title="Follow the link" class="fas fa-external-link-alt"></i>  {{ gift.link }}
            </div>
            <div>
                <i style="font-size: 2em" data-toggle="tooltip" data-placement="top" title="Price" class="fas fa-money-check-alt"></i> {{ gift.price }}
            </div>
            <div>
                <i style="font-size: 2em" class="fas fa-star"></i> {{ gift.desirability_rank }}
            </div>
        </div>
            {% if not gift.filled %}
                <a class="btn btn-danger" href="{% url 'giftsharingapp:mark-taken' pk=gift.id value=True %}" role="button">Mark as taken <i class="fas fa-heart"></i></a>
            {% else %}
                <a class="btn btn-danger" href="{% url 'giftsharingapp:mark-taken' pk=gift.id value=False %}" role="button">Not getting it in the end <i class="fas fa-undo-alt"></i></a>
            {% endif %}
        <a class="btn btn-secondary" href="{% url 'giftsharingapp:friends-gifts' %}" role="button">Go back</a>
    </div>
{% endblock %}