{% extends "base_generic.html" %}
{% load static %}

{% block content %}
{#    <h1>Friends Gift List</h1>#}
{#    <p>Here are your friends gift list</p>#}
    {% if gifts %}
        <table style="margin-top: 20px" class="table table-borderless" id="myTable">
            <thead class="thead-light">
                <tr>
                    <th>Gift</th>
                    <th style="text-align: center;">Friend's name</th>
                    <th style="text-align: center;">Price</th>
                    <th style="text-align: center;">Rank</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for gift in gifts %}
                    <tr>
                        <td>
                            <a style="color: black" href="{% url 'giftsharingapp:fill-gift' pk=gift.id %}">{{ gift.name }}</a>
                        </td>
                        <td style="text-align: center;">{{ gift.owner }}</td>
                        <td style="text-align: center;">
                            {% if gift.price %}
                                ${{ gift.price }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td style="text-align: center;">
                            {% if gift.desirability_rank %}
                                {{ gift.desirability_rank }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        {% if gift.filled %}
                            <td>Taken by {% if gift.filled_by == user %} YOU {% else %} {{ gift.filled_by }} {% endif %} </td>
                        {% else %}
                            <td><a href="{% url 'giftsharingapp:fill-gift' pk=gift.id %}">View and claim it!</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no gifts in your library.</p>
    {% endif %}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type='text/javascript' src={% static 'giftsharingapp/js/main.js' %}></script>
{% endblock %}