{% extends "base_generic.html" %}
{% load static %}

{% block content %}
    <h1>My Gift List</h1>
    <p>Welcome to your list of gifts!</p>
    <p>You currently have the following gift ideas saved</p>
    {% if gifts %}
        <table>

                {% for gift in gifts %}
                    <tr>
                        <td><a href="{% url 'giftsharingapp:edit-my-gift' pk=gift.id %}">{{ gift.name }}</a></td>
                        <td><a href="{% url 'giftsharingapp:gift-delete' pk=gift.id %}">DELETE</a></td>
                    </tr>
                {% endfor %}

        </table>
        <ul>

        </ul>
    {% else %}
        <p>There are no gifts in your library.</p>
    {% endif %}
    <a class="btn btn-primary" href="{% url 'giftsharingapp:add-my-gift' %}" role="button">Add new gift</a>

{% endblock %}

{#{% block javascript %}#}
{#    {{ block.super }}#}
{#    <script type='text/javascript' src={% static 'giftsharingapp/js/friends_gift_list.js' %}></script>#}
{#{% endblock %}#}