{% extends "base_generic.html" %}
{% load static %}

{% block content %}
    <h1>Friends Gift List</h1>
    <p>Here are your friends gift list</p>
    {% if gifts %}
        <table>
                <tr>
                    <td>Gift</td>
                    <td>Friend's name</td>
                    <td>Price</td>
                    <td>Rank</td>
                    <td>Status</td>
                </tr>
                {% for gift in gifts %}
                    <tr>
                        <td>
                            <a href="{% url 'giftsharingapp:fill-gift' pk=gift.id %}">{{ gift.name }}</a>
                        </td>
                        <td>{{ gift.owner }}</td>
                        <td>${{ gift.price }}</td>
                        <td>{{ gift.desirability_rank }}</td>
                        {% if gift.filled %}
                            <td>Taken by {% if gift.filled_by == user %} YOU {% else %} {{ gift.filled_by }} {% endif %} </td>
                        {% else %}
                            <td><a href="{% url 'giftsharingapp:fill-gift' pk=gift.id %}">View and claim it!</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}

        </table>
    {% else %}
        <p>There are no gifts in your library.</p>
    {% endif %}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type='text/javascript' src={% static 'giftsharingapp/js/friends_gift_list.js' %}></script>
{% endblock %}