{% extends "base_generic.html" %}
{% load static %}

{% block content %}
{#    <h1>Friends Gift List</h1>#}
{#    <p>Here are your friends gift list</p>#}
     <a style="margin: 20px auto" class="btn btn-primary" href="{% url 'giftsharingapp:invite-friend' %}" role="button">Invite more friends <i class="fas fa-user-friends"></i></i></a>
    {% if gifts %}
        <table data-sort-name="Friend's name" data-sort-order="desc" style="margin-top: 20px" class="table table-borderless" id="myTable">
            <thead class="thead-light">
                <tr>
                    <th data-sortable="true" style="text-align: center;">Friend</th>
                    <th data-sortable="true">Gift</th>
{#                    <th data-sortable="true" style="text-align: center;">Friend's name</th>#}
{#                    <th data-sortable="true" style="text-align: center;" class="d-none d-sm-table-cell">Price</th>#}
{#                    <th data-sortable="true" style="text-align: center;" class="d-none d-sm-table-cell">Rank</th>#}
                    <th data-sortable="true">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for gift in gifts %}
                    <tr>
                        <td class="text-capitalize" style="text-align: center;">{{ gift.owner.first_name }}</td>
                        <td>
                            <a style="color: black" href="{% url 'giftsharingapp:fill-gift' pk=gift.id %}">{{ gift.name }}</a>
                            {% if gift.link %}
                                <a href={{ gift.link }} target="_blank"><i data-toggle="tooltip" data-placement="top" title="External link" class="fas fa-external-link-alt"></i></a>
                            {% endif %}
                        </td>
{#                        <td style="text-align: center;">{{ gift.owner }}</td>#}
{#                        <td class="d-none d-sm-table-cell" style="text-align: center;">#}
{#                            {% if gift.price %}#}
{#                                ${{ gift.price }}#}
{#                            {% else %}#}
{#                                -#}
{#                            {% endif %}#}
{#                        </td>#}
{#                        <td class="d-none d-sm-table-cell" style="text-align: center;">#}
{#                            {% if gift.desirability_rank %}#}
{#                                {{ gift.desirability_rank }}#}
{#                            {% else %}#}
{#                                -#}
{#                            {% endif %}#}
{#                        </td>#}
                        {% if gift.filled %}
                            <td>Taken by {% if gift.filled_by == user %} YOU {% else %} <span class="text-capitalize">{{ gift.filled_by.first_name }}</span> {% endif %} </td>
                        {% else %}
                            <td><a href="{% url 'giftsharingapp:fill-gift' pk=gift.id %}">View and claim it!</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Your friends have no gifts listed.</p>
    {% endif %}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type='text/javascript' src={% static 'giftsharingapp/js/main.js' %}></script>
{% endblock %}