{% extends "base_generic.html" %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="central-position">
            <div class="call-to-action"> Hi {{ user.first_name }}!</div>
            <div class="call-to-action">Hold tight while we are adding more features on this page</div>
            <p><a href="{% url 'logout' %}">logout</a></p>
        </div>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a>
    {% endif %}
{% endblock %}