{% extends "base_generic.html" %}
{#{% load static %}#}

{% block content %}
    <div style="text-align: center">
        <a style="margin: 20px auto" class="btn btn-danger btn-lg" href="{% url 'giftsharingapp:add-my-gift' %}" role="button">+ <i class="fas fa-gift"></i></a>
    </div>

    {% if active_gifts %}
        {% include 'giftsharingapp/menu-level-templates/subtemplates/gift-list-mine.html' with gifts=active_gifts %}
    {% elif received_gifts %}
        <p class="call-to-action">Wow! Looks like it's time to add new gift ideas!</p>
    {% else %}
        <p class="call-to-action">Welcome to your wishlist. <br>Let's add some gift ideas!</p>
    {% endif %}
    {% if received_gifts %}
        <div
                id="received-gifts-title"
                onclick="expandReceived($(this))"
                style="text-align: center; font-size: 20px; color: gray;">View received gifts  <i class="fas fa-caret-down"></i></div>
        <div id="received-gifts" class="hidden">
            {% include 'giftsharingapp/menu-level-templates/subtemplates/gift-list-mine.html' with gifts=received_gifts %}
        </div>

    {% endif %}

{% endblock %}